:root {
  --primary: #003366; // Navy Blue
  --secondary-color: #F5F5F5; // Light Gray
  --accent-color: #00BFAE; // Bright Teal
  --text-color: #333333; // Charcoal Gray
  --nav-color: rgba(27, 27, 36, 0.9);
  --hover-color:rgba(0, 255, 0, 0.855);
}

.App {
  color: white;
  text-align: center;
  
  font-size: larger;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  .Home{
    min-height: 100vh;
    width: 90%;
  }
  .CV{
    min-height: 100vh;
  }
  .Projects{
    min-height: 100vh;
  }
  .Contact{
    min-height: 100vh;
  }
}

.NavBar {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(8px);
  border: none;
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .title {
    cursor: pointer;
    color: white;
    display: flex;
    text-align: center;
    align-self: center;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    img{
      width: 3rem;
      margin: 0.5rem;
    }
    
  }
  .buttons {
    margin-right: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    .Link {
      text-decoration: none;
      color: white;

      width: 7rem;
      height: 3rem;

      display: flex;
      justify-content: center;
      text-align: center;
      align-items: center;
      transition: all 0.1s;

      border-radius: 3rem;
      box-shadow: 0 0 0.5rem inset rgba(255,255,255,0.2);
      &:hover{
        box-shadow: 0 0 1rem  white;
        color: var(--hover-color);
        cursor: pointer;
      }
    }
  
  }

}

.BottomBar{
  height: 3rem;
  width: 100%;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
 
  .credits{
    width: 20rem;
    color: grey;
    
  }
  .copyright{
    width: 20rem;
    color: grey;
  }
  .social_links{
    min-width: 20rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    .link{
      width: 3rem;
      height: 3rem;
      text-decoration: none;
      color: white;

      transition: box-shadow 0.1s;
      border-radius: 2rem;
      
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      align-self: center;

      box-shadow: 0 0 1rem inset rgba(255,255,255,0.5);
      &:hover{
        box-shadow: 0 0 1rem  white;
        color: var(--hover-color);
        cursor: pointer;
      }
    }
  }
}

.cv-preview {
  width: 90vw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: flex-start;
  h2 {
    margin-bottom: 1rem;
    color: var(--secondary-color);
  }
  
  .cv-iframe {
    border: none;
    margin-bottom: 2rem;
    border-radius: 1rem;
    height: 90vh;
    width: 100%;
  }

  .download-button {
    font-weight: large;
    text-decoration: none;
    
    width: 10rem;

    border-radius: 5px;
    padding: 0.5rem 1rem;
    margin-bottom: 5rem;
    cursor: pointer;
    background: white;
    color: black;

    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.1s, width 0.1s;

    &:hover {
      box-shadow: 0 0 2rem white;
      color: white;
      background: rgba(0,0,0,0.5);
      width:12rem;
    }
  }
}

.about-section {  
  margin-bottom: 5rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  .image{
    img{
      background-color: rgba(255,255,255,0.1);
      box-shadow: 0 0 1rem rgba(255, 255, 255, 0.5);
      width: 10vw;
      margin: 1rem 2rem 3rem 4rem;
      border-radius: 0.5rem; 
    }
  }
  
  
  p {
    background-color: rgba(255,255,255,0.1);
    box-shadow: 0 0 0.5rem rgba(255, 255, 255, 0.5);
    color: white;
    padding: 2rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
    
    line-height: 1.6;
    transition:background-color 0.1s, box-shadow 0.1s;
    &:hover{
      background-color: black;
      box-shadow: 0 0 2rem rgba(255, 255, 255, 1);
    }
  }
}

.contact-section {
  min-height: 100vh;
  min-width:50%;
  margin: 2rem;
  padding: 2rem;
  background-color: rgba(0,0,0,0.3);
  color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  h2 {
    color: white;

  }

  .form-group {
    label {
      display: block;
      margin-top: 2rem;
      color: white;
    }

    input,
    textarea {
      width: 80%;
      padding: 1rem;
      margin-top: 0.5rem;

      font-size: 1rem;

      
      border-radius: 5px;
      border: none;

      background: white;
      color: black;
      transition: box-shadow 0.1s;
      &:focus{
        transition: box-shadow 0.1s;
        outline: none;
        box-shadow: 0 0 1rem white;
        border: none;
        font-weight: bold;
      }
      &::placeholder {
        color: rgba(0,0,0,0.3);
        opacity: 1; /* Firefox */
      }
    }

    textarea {
      resize: vertical;
      height: 100px;
    }
  }

  .submit-button {
    width: 10rem;
    height: 2rem;
    padding: 0.5rem 1rem;
    margin-top: 4rem;

    background: white;
    color: black;

    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.1s, width 0.1s;

    &:hover {
      box-shadow: 0 0 2rem white;
      color: white;
      background: rgba(0,0,0,0.5);
      width:12rem;
    }
  }
}

.projects-section{
  margin-bottom: 5rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  .image_pop{
    position:fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.6);
    img{
      max-width: 90vw;
      max-height: 90vh;
      cursor: pointer;
    }
  }
  .capsule{
    width: 80vw;
    display: flex;
    flex-direction: column;
    
    
    .description{
      display: flex;
      flex-direction: column;
      width: 100%;
      .label{
        font-size: larger;
        margin-top: 4rem;
        margin-bottom: 1rem;
      }
      p {
        display: flex;
        text-align: start;
        width: 90%;
        min-height: 50%;
        background-color: rgba(255,255,255,0.1);
        box-shadow: 0 0 0.5rem rgba(255, 255, 255, 0.5);
        color: white;
        padding: 2rem;
        margin-bottom: 1rem;
        border-radius: 1rem;
        
        line-height: 1.6;
        transition:background-color 0.1s, box-shadow 0.1s;
        &:hover{
          background-color: black;
          box-shadow: 0 0 2rem rgba(255, 255, 255, 1);
        }
      }
    }
    .images{
      display: flex;
      flex-direction: row;
      max-width: 100%;
      overflow-x: auto;
      flex-wrap: wrap;
      cursor: pointer;
      img{
        height: 30vh;
        margin: 2rem 1rem;
        border-radius: 0.1rem; 
       
      }
    }
  }
}