
:root {
  --primary: #003366; /* Navy Blue */
  --secondary-color: #F5F5F5; /* Light Gray */
  --accent-color: #00BFAE; /* Bright Teal */
  --text-color: #333333; /* Charcoal Gray */
}

body {
  background-color: var(--secondary-color);
  color: var(--text-color);
  font-family: Arial, sans-serif;
}

header {
  background-color: var(--primary-color);
  color: #FFFFFF;
}

a {
  color: var(--accent-color);
}

button {
  background-color: var(--accent-color);
  color: #FFFFFF;
}

.App {
  text-align: center;
  background-color: #302834;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  
  font-size: calc(10px + 2vmin);
  color: white;
}
.NavBar{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 5rem;
}
.title{
  display: flex;
  text-align: center;
  align-self: center;
}
.Link{
  text-decoration: none;
  color: white;
  width: 7rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  
}
.Link:hover{
  scale: 1.07;
  color: aqua;
}

.about{
  background: var(--secondary-color);
  color: #333333;
}